body {
  padding: 50px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: auto;
  
}
li a {color: black;}
a {
  color: black;;
}
.container{
  position: relative;
  display: block;
  margin: 0 auto;
}
#chart{
margin: 0 auto;
padding: 0;
float: none;
text-align: center;
height: 500px;
width: 500px;
position: relative;
}
.tooltip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  font-size: 12px;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  width: 80px;
  z-index: 10;
}
.legend {
   font-size: 12px;
  }
rect {
  stroke-width: 2;
      }
.node circle {
	  fill: #fff;
	  stroke: steelblue;
	  stroke-width: 3px;
	}

	.node text { font: 12px sans-serif; }

	.link {
	  fill: none;
	  stroke: #ccc;
	  stroke-width: 2px;
	}
  #filter{
    padding: 0 0 0 5px;
    margin: 10px 0 0 0;
    height: 30px;
    width: 200px;
  }
#filtersubmit {
  position: relative;
  z-index: 1;
  left: -25px;
  top: 1px;
  color: #7B7B7B;
  cursor: pointer;
  width: 0;
}
.filter{
  padding: 10px 0 0 0;
  font-size: 16px;
}
p{
  text-align: justify;
  font-size: 14px;
}
.input-group-addon{
  width:0;
}
