<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Visualization - Homework 4 (part 2)</title>
    <link rel="stylesheet" href="/css/style3.css"/>
    <script src="https://d3js.org/d3.v4.js"></script>
    <!-- <script type="text/javascript" src="bower_components/d3/d3.js"></script> -->
    <!--<script type="text/javascript" src="bower_components/d3-tip/index.js"></script>-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.9.0/d3-legend.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>

<body>

<h1>US Presidential Elections from 1940 to 2012</h1>
<div id="year-chart" class="view">
</div>



<div id = "electoral-vote" class = "view">
</div>


<div id = "votes-percentage" class = "view">
</div>

<div id = "tileChart" class = "view">
    <div id="legend" class = "view"></div>
    <div id = "tiles" class = "view"></div>
</div>
<script type="application/javascript" src="js/d3-tip.js"></script>
<script type="application/javascript" src="js/tileChart.js"></script>
<script type="application/javascript" src="js/electoralVoteChart.js"></script>
<script type="application/javascript" src="js/yearChart.js"></script>
<script type="application/javascript" src="js/votePercentageChart.js"></script>
<script type="application/javascript" src="js/shiftChart.js"></script>
<script type="application/javascript" src="js/script3.js">


</script>
</body>
</html>
